spring:
    application:
        name: takm
    datasource:
        url: jdbc:postgresql://lib-db:5432/postgres
        username: postgres
        password: postgres
        driver-class-name: org.postgresql.Driver
    flyway:
        url: jdbc:postgresql://lib-db:5432/postgres
        locations: classpath:db/migration
        user: postgres
        password: postgres
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                format_sql: true
        generate-ddl: false
    servlet:
        multipart:
            max-file-size: 40MB
            max-request-size: 40MB

jwt:
    secret: evgkjrefnkiejdreu57683u3nfjf3483nv83432jrb3u432b234jf
    expiration: 10800
server:
    port: 8084

